/* Andy Bells CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Project Specific Stylings */

:root {
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --gray-blue: hsl(218, 22%, 67%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 22rem;
    grid-template-rows: repeat(3, 16em);
    max-width: 22rem;
    
}

/* styles for the first row of the mobile layout */

.row-1 {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.row-1 h2 {
  font-size: 1.5rem;
  color: var(--cyan);
}

.row-1 h3 {
  font-size: 1.3rem;
  color: var(--bright-yellow);
}

.row-1 p {
  color: var(--gray-blue);
  opacity: 85%;
}

/* styles for the second row */

.row-2 {
  background-color: var(--cyan);
  color: white;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.row-2 h2 {
  font-size: 1.5rem;
}

/* the following three styles handle the price/month section */

.price-per-month {
  display: flex;
  align-items: center;
}

.row-2-price {
  font-size: 2rem;
  font-weight: 700;
} 

.per-month {
  margin-left: .5em;
  opacity: 50%;
}

/* normal flow resumes */

.row-2 p {
  font-size: 1.1rem;
}

.row-2 button {
  background-color: var(--bright-yellow);
  border-radius: .4em;
  padding: 1rem 0;
  color: white;
  font-size: 1.2rem;
  /* has a small box shadow */
  box-shadow: 0 1rem 1rem -.2rem var();
  border: none;
}

.row-3 {
  background-color: var(--cyan);
  color: white;
  padding: 1.5em;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;
}

.row-3 h2 {
  font-size: 1.5rem;
}

.row-3 ul {
  padding-left: 0;
  list-style: none;  
}

.row-3 li {
  font-size: .9em;
  opacity: 90%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 1em;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

 /* The following styles are for desktop width < 450pxish */

@media only screen and (min-width: 51rem) {
  
  main {
    max-width: 50rem;
    grid-template-columns: repeat(2, 25rem); 
    grid-template-rows: repeat(2, 16rem);
  }

  .row-1 {  
    grid-column: 1 /3;
    padding: 3em;
  }

  .row-1 h2 {
    font-size: 2rem;
  }

  .row-1 h3 {
    font-size: 1.5rem;
  }

  .row-1 p {
    font-size: 1.2rem;
  }

  .row-3 {
    border-bottom-left-radius: 0;
  }

  .row-2 {
    border-bottom-left-radius: .5em;
  }

}


